<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="poh_eforms_converter.PohVsPdfComparision_V1.percentage"/>
      <class name="poh_eforms_converter.PohVsPdfComparision_V1.compare"/>
      <class name="poh_eforms_converter.PohVsPdfComparision_V1.highlightDiff"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
